@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
body{
    font-family: "Roboto",Arial, Helvetica, sans-serif;
    margin: 0;
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: auto auto auto;
    grid-template-areas: 
    "navbar navbar" 
    "sidebar main"
    "footer footer"
    ;
}

.card{
    text-align: center;
    display: grid;
    gap: 20px;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr  ;
    padding: 10px;
}
    ::-webkit-scrollbar{
        width: 1px;
    }
    /* ::-webkit-scrollbar-track{
        background: white;
    } */
    ::-webkit-scrollbar-thumb{
        background:white;
    }

#card{
    border-radius: 10px 10px 10px 10px;
    padding: 1em;
    box-shadow: 1px 1px 18px 0 ;
    height: auto;
}

#card:hover{
    box-shadow: 1px 1px 15px 1px rgb(255, 7, 48);
}
.userCard{
    width: 300px;
    height: 300px;
    position: fixed;
    right: 0;
    top: 96px;
    background-color: white;
    box-shadow: 1px 1px 5px 0 black;
    color: black;
    display: none;
    border-radius: 10px 0 0 10px;
    padding: 20px;
}
.empty-set button i:active{
    color: rgb(141, 141, 1);
}
.cardContainer{
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 10px;
}
.cardContainer img{
    width: 70px;
    height: 70px;
    object-fit: cover;
    border-radius: 50%;
}

.cart{
    padding: 3em;
    background-color: rgb(97, 184, 255);
    border-radius: 50%;
    width: 7px;
    height: 7px;
    font-size: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.balance-container{
    background-color: rgb(37, 161, 255);
    padding: 1em;
    border-radius: 10px 10px 10px 10px;
    color: white;
    position: sticky;
    top: 69.2px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header{
    text-align: center;
    color: white;
    grid-area: navbar;
    background-color: rgb(0, 119, 255);
    padding: 1em;
    position: sticky;
    box-shadow: 1px 1px 4px 1px black;
    top: 0;
    display: flex;
    justify-content:space-between;
    align-items: center;
    z-index: 1;
}
aside{
    grid-area: sidebar;
    background-color: rgb(121, 186, 240);
    position:sticky;
    top: 69.2px;
    align-self: start;
    height: calc(100vh - 69.2px);
    box-shadow: 1px 1px 7px 0;
    width: 200px;
    display: none;
    z-index: 1;
    overflow: scroll;
}
aside ul{
    text-align: center;
    padding: 6px;
    margin: 0;
}
aside ul li{
    list-style: none;
    border-bottom: 4px solid rgb(255, 255, 255);
    padding: 1em;
    transition: background-color 0.4s, padding 0.2s;
    transition-timing-function: ease-in;
}
aside ul li:hover{
    background-color: rgb(247, 56, 88);
    padding-left: 2em;
}
aside ul li a{
    text-decoration: none;
    color: black;
}
aside ul li a:hover{
    color: white;
}
#popup{
    position: fixed;
    text-align: center;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: auto;
    padding: 1em;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0.98;
    background-color: rgb(58, 58, 58);
    z-index: 2;
}
.hy{
    width: 300px;
    height: 40vh;
    box-shadow: 1px 1px 20px 0;
    padding: 4em;
    background-color: white;
}
.hy button{
    width: 38px;
    height: 38px;
    object-fit: cover;
    border-radius: 50px;
    background-color: white;
    color: rgb(0, 0, 0);
    border: 2px solid black;
    font-size: 20px;

}
.hy button:hover{
    background-color: red;
    color: white; 
}
main{
    grid-area: main;
    padding: 1em;
}
footer{
    text-align: center;
    color: white;
    grid-area: footer;
    background-color: rgb(55, 55, 55);
    padding: 2em;
    z-index: 1;
}
.show{
    display: block;
}

@media(max-width: 1000px){
    body{
        grid-template-columns: auto 1fr;
    }
    .card{
        grid-template-columns: 1fr 1fr;
    }
    aside{
        position: fixed;
        width: 200px;
    }
    #popup{
        display:flex;
    }

}
@media(max-width: 600px){
    .card{
        grid-template-columns: 1fr 1fr;
    }
    
}
@media(max-width: 400px){
    body{
        grid-template-rows:auto ;
    }
   .card{
        grid-template-columns: 1fr;
   }
}